__pycache__/
*.pyc
*.pyo
.venv/
venv/
.env
body.json
wh.json
tools/*.json
DB_PASSWORD.txt
OPENAI_API_KEY.txt
TELEGRAM_API_HASH.txt
TELEGRAM_API_ID.txt
TELETHON_STRING_SESSION.txt
TG_BOT_TOKEN.txt
.pytest_cache/
*.egg-info/
dist/
build/
